.bg-gradient {
    background: -moz-linear-gradient(180deg, #e89400 0%, #e89400 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e89400), color-stop(100%, #0674ed));
    background: -webkit-linear-gradient(180deg, #e89400 0%, #0674ed 100%);
    background: -o-linear-gradient(180deg, #e89400 0%, #0674ed 100%);
    background: -ms-linear-gradient(180deg, #e89400 0%, #0674ed 100%);
    background: linear-gradient(150deg, #e89400 0%, #0674ed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-one', endColorstr='$color-two',GradientType=1 );
}


.pattern-overlay-1,.pattern-overlay-2 {
    position: relative;
    z-index: 1;
}

.pattern-overlay-1::before {
    content: "";
    background: url(/assets/img/bg-9.png);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

#navbarHome .navbar-nav .nav-link {
	color: #000;
	font-weight: 500;
}
@media (min-width: 992px){
  .navbar-expand-lg #navbarHome .navbar-nav .nav-link {
      padding:0.2rem 1.5rem;
  }
}
#navbarHome .navbar-nav .nav-link:hover, #navbarHome .navbar-nav .nav-link:focus {
  background: #e89400;
  border-radius:20px;
}
#navbarHome .navbar-nav .active > .nav-link, #navbarHome .navbar-nav .nav-link.active, #navbarHome .navbar-nav .nav-link.show, #navbarHome .navbar-nav .show > .nav-link {
  border-radius:20px;
}

/*
All Services Menu Start
*/

.allServicesDropdown .dropdown-menu {
    position: absolute;
    height: 468px;
    max-height: calc(-56px + 100vh);
    transition: height 0.3s ease-in-out 0s;
	background: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.30), 0 2px 6px 2px rgba(60,64,67,.15);
    overflow-x: hidden;
}
.allServicesDropdown .dropdown-menu ul {
    box-sizing: content-box;
    width: 300px;
}
.allServicesDropdown .dropdown-menu ul li {
    display: inline-block;
    height: 98px;
    list-style-type: none;
    padding: 1px 7px 1px 7px;
    position: relative;
    transition: transform .2s cubic-bezier(.333,0,0,1);
    vertical-align: top;
    width: 86px;
}
.allServicesDropdown .dropdown-menu ul li a {
    border-radius: 8px;
    margin: 8px 2px;
    position: absolute;
    text-align: center;
    width: 84px;
}
.allServicesDropdown .dropdown-menu ul li a:hover {
    background-color: #f6fafe !important;
    z-index: 1;
}
.allServicesDropdown .services-icon {
    display: inline-block;
    height: 64px;
    vertical-align: top;
    width: 64px;
    background-image: url(/assets/img/bg-7.png);
    background-size: 64px 2686px;
}
.allServicesDropdown .services-text {
    color: #404040;
    font-size: 14px;
    letter-spacing: .09px;
    line-height: 16px;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 76px;
}
.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
Fleet Tab
*/
.fleet-tab .uk-tab>*>a{
	color: #000;
	padding: 5px 8px;
}

.booking-form .form-group {
    margin-bottom: .5rem;
}
.booking-form .form-control {
    border: none;
	font-size: .9rem;
} 
.booking-form .input-group-text {
    background-color: #FFF;
    border: none;
	font-size: .8rem;
	text-transform: uppercase;
	width: 4rem;
}

/*
Car Animation
*/

.animation {
  width: 100%;
  height: 6rem;
  overflow: hidden;
}

.backwheel, .frontwheel {
  position: absolute;
  width: 35px;
  height: 35px;
  border: 3px solid white;
  border-radius: 50%;
  background: black;
  -webkit-animation: wheels 0.4s linear infinite;
          animation: wheels 0.4s linear infinite;
}
.backwheel::after, .frontwheel::after {
  content: "";
  width: 1px;
  height: 25px;
  background: white;
  position: absolute;
  left: 17px;
  top: 5px;
}
.backwheel::before, .frontwheel::before {
  content: "";
  width: 25px;
  height: 1px;
  background: white;
  position: absolute;
  left: 5px;
  top: 17px;
}

.car {
  position: relative;
}
.car .body {
  width: 200px;
  height: 40px;
  background: #e89400;
  border: 3px solid #e89400;
  border-top-left-radius: 80%;
  border-top-right-radius: 95%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 40%;
}
.car .body .upperbody {
  position: absolute;
  background: #e89400;
  width: 150px;
  height: 50px;
  border-radius: 50%;
  border-top-left-radius: 80%;
  top: -8px;
  left: 6px;
}
.car .body .upperbody .window {
  position: absolute;
  background: black;
  width: 80px;
  height: 20px;
  top: 5px;
  right: 25px;
  border-top-left-radius: 90%;
  border-top-right-radius: 85%;
  border-bottom-left-radius: 90%;
  border-bottom-right-radius: 10%;
}
.car .body .upperbody .window .line {
  width: 1px;
  height: 25px;
  background: #e89400;
  position: absolute;
  left: 25px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  top: -2px;
}
.car .body .backwheel {
  bottom: -10px;
  left: 15px;
}
.car .body .frontwheel {
  bottom: -10px;
  left: 135px;
}

@-webkit-keyframes wheels {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes wheels {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.road {
  position: absolute;
  width: 100px;
  height: 3px;
  border-radius: 10%;
  background: black;
  bottom: -10px;
  right: -200px;
  -webkit-animation: move 2s linear infinite;
          animation: move 2s linear infinite;
}

@-webkit-keyframes move {
  0% {
    right: -200px;
  }
  100% {
    right: 400px;
  }
}

@keyframes move {
  0% {
    right: -200px;
  }
  100% {
    right: 400px;
  }
}
/*
Car End
*/
/*
Vehicle Features Nav
*/
.vehicle-features-nav .nav-link{
	color: #9E9E9E;
	text-align: center;
    position: relative;
    vertical-align: middle;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
	font-size: 4vw;
}
.vehicle-features ul li{
	font-size: 3vw;
}

.vehicle-features-nav .nav-link:focus{
	outline: none;
}
.vehicle-features-nav i{
	font-size: 3vw;
	text-align: center;
	border-radius: 50%;
	color: #9E9E9E;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border: #9E9E9E solid 1px;
}
@media (min-width: 576px) {
	.vehicle-features ul li, .vehicle-features-nav .nav-link{
		font-size: .8vw;
	} 
	.vehicle-features-nav i{
		font-size: .8vw;
		text-align: center;
		border-radius: 50%;
		color: #9E9E9E;
		position: relative;
		vertical-align: middle;
		overflow: hidden;
		-webkit-transition: all 0.15s ease;
		transition: all 0.15s ease;
		width: 30px;
		height: 30px;
		line-height: 30px;
		border: #9E9E9E solid 1px;
	}
}
.vehicle-features-nav .nav-link:focus,.vehicle-features-nav .nav-link:hover,.vehicle-features-nav .nav-link:focus i,.vehicle-features-nav .nav-link:hover i{
	color:#0674ED;
	border-color: #0674ED;
}
.vehicle-features-nav .nav-link:hover i::before{
  -webkit-animation: toTopFromBottom 0.35s forwards;
  -moz-animation: toTopFromBottom 0.35s forwards;
  animation: toTopFromBottom 0.35s forwards;
	display:inline-flex;
}

@-webkit-keyframes toTopFromBottom {
		49% {
				-webkit-transform: translateY(-100%)
		}
		50% {
				opacity: 0;
				-webkit-transform: translateY(100%)
		}
		51% {
				opacity: 1
		}
}
@-moz-keyframes toTopFromBottom {
		49% {
				-moz-transform: translateY(-100%)
		}
		50% {
				opacity: 0;
				-moz-transform: translateY(100%)
		}
		51% {
				opacity: 1
		}
}
@keyframes toTopFromBottom {
		49% {
				transform: translateY(-100%)
		}
		50% {
				opacity: 0;
				transform: translateY(100%)
		}
		51% {
				opacity: 1
		}
}
.toTopFromBottom {
		-webkit-animation-name: toTopFromBottom;
		animation-name: toTopFromBottom
}
@-webkit-keyframes toBottomFromTop {
		49% {
				-webkit-transform: translateY(100%)
		}
		50% {
				opacity: 0;
				-webkit-transform: translateY(-100%)
		}
		51% {
				opacity: 1
		}
}
@-moz-keyframes toBottomFromTop {
		49% {
				-moz-transform: translateY(100%)
		}
		50% {
				opacity: 0;
				-moz-transform: translateY(-100%)
		}
		51% {
				opacity: 1
		}
}
@keyframes toBottomFromTop {
		49% {
				transform: translateY(100%)
		}
		50% {
				opacity: 0;
				transform: translateY(-100%)
		}
		51% {
				opacity: 1
		}
}
.toBottomFromTop {
		-webkit-animation-name: toBottomFromTop;
		animation-name: toBottomFromTop
}